h1 {
  font-size: 50px;
  color: hsl(244, 100%, 50%);
}
p {
  font-family: "Georgia", serif;
  color: black;
  font-size: 16px;
}
html {
  background-color: lightcyan;
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  flex: 1;
}

main {
  background-color: #3b82f6;
}
